# .gitignore file for wsu dissertation
# Brett Deaton -- Spring 2015

# Temporary editor files
*~
*.swp
\#*\#
.\#*

# TeX products
/dissertation.pdf
/printtoc.pdf
*.aux
*.log
*.toc
#*.nav
*.out
#*.snm
*.bbl
*.blg
*.lof
*.lot

# Mac system files
.DS_Store
